<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} Nanyang Technological University. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500">
    Website Created By <a
      href="https://akshay11.vercel.app"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Akshay Narayanan B
    </a>
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Astro template from <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3 Templates
    </a>
  </p>
</footer>
